/* Open Sans Regular */
@font-face { 
  font-family: 'Open Sans'; 
  src: url('../fonts/opensans-regular.woff2') format('woff2'), 
       url('../fonts/opensans-regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap;
}

/* Ubuntu Regular */
@font-face { 
  font-family: 'Ubuntu'; 
  src: url('../fonts/ubuntu-regular.woff2') format('woff2'), 
       url('../fonts/ubuntu-regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap;
}