@media screen and (max-width: 1280px) {
  /* Block - projects */
  .projects__headline {
    padding-left: 30px;
    padding-right: 15px;
  }
  .projects__list {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1090px) {
  /* Block - projects */
  .projects__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .projects__list .logos-list__item {
    margin: 0 15px;
  }
  .projects__list .logos-list__item:last-child {
    display: none;
  }
  /* Block - facts */
  .facts__desktop {
    bottom: 0;
    right: 0;
    width: 40%;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (max-width: 950px) {
  /* Block - projects */
  .projects__headline {
    display: none;
  }
  .projects__list {
    border: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__list .logos-list__item:last-child {
    display: block;
  }
  .projects__list .logos-list__item {
    margin: 0;
  }
  /* Block - about */
  .about__photos {
    width: 40%;
  }
  /* Block - facts */
  .facts__desktop {
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  .facts__descr {
    max-width: 550px;
  }
}
@media screen and (max-width: 840px) {
  /* Block - projects */
  .projects__list .logos-list__item:last-child {
    display: none;
  }
  /* Block - about */
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__photos {
    width: 100%;
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .about__content {
    width: 100%;
  }
  .about__text:after {
    bottom: -10px;
  }
  .about__headline:after {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  /* Block - projects */
  .projects__inner {
    padding: 15px 0;
  }
  .projects__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
  }
  .projects__list .logos-list__item {
    margin: 0 7px;
  }
  .projects__list .logos-list__item:nth-child(3) {
    margin-right: 0;
    border-color: #eaf3f8;
  }
  /* Block - logos-list */
  .logos-list {
    min-height: 0;
  }
  .logos-list__item div {
    width: 100px;
    height: 35px;
    background: #eaf3f8;
  }
  .logos-list__project-logo {
    width: 60%;
  }
}
@media screen and (max-width: 510px) {
  /* Block - page-header */
  .page-header {
    padding-bottom: 60px;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(30%, #000), color-stop(40%, transparent), to(transparent)), url(../img/header_bg.png);
    background: -webkit-linear-gradient(bottom, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png);
    background: -o-linear-gradient(bottom, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png);
    background: linear-gradient(to top, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png);
  }
  .page-header__main-block {
    text-align: center;
  }
  .page-header__headline {
    line-height: 1;
    font-size: 25px;
  }
  .page-header__descr {
    font-size: 15px;
  }
  .page-header__btn {
    margin: 0 auto 15px;
  }
  /* Block - phone */
  .phone--mobile {
    display: inline-block;
  }
  .phone--desktop {
    display: none;
  }
  /* Block - logo */
  .logo {
    font-size: 7.2px;
  }
  .logo img {
    width: 80%;
  }
  /* Block - logos-list */
  .logos-list__item div {
    width: 90px;
  }
  /* Block - facts */
  .facts__item {
    width: 100%;
    background-position: left bottom;
  }
  .facts__item-headline {
    font-weight: 700;
  }
  .facts__content-top {
    padding-left: 0;
  }
  .facts__desktop {
    right: -10%;
  }
  .facts__desktop img {
    width: 140%;
    max-width: 200%;
  }
}
