@media screen and (max-width: 1280px) {
  /* Block - projects */
  .projects__headline {
    padding-left: 30px;
    padding-right: 15px;
  }
  .projects__list {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1090px) {
  /* Block - projects */
  .projects__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .projects__list .client-logo {
    margin: 0 15px;
  }
  .projects__list .client-logo:last-child {
    display: none;
  }
  /* Block - facts */
  .facts__desktop {
    bottom: 0;
    right: 0;
    width: 40%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  /* Block - steps */
  .steps__call-to-action {
    padding-left: 0;
    margin-right: 10px;
  }
  /* Block - project */
  .project__main-pict {
    width: 100%;
  }
  .project__picts-list {
    display: none;
  }
  .project__picts {
    padding: 0 15px;
  }
  /* Block - examples */
  .examples__arrow {
    bottom: -40px;
  }
  .examples__arrow-prev {
    left: 45%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .examples__arrow-next {
    right: 45%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .examples__counter {
    bottom: -45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  /* Block - prices */
  .prices__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .prices__item {
    margin-bottom: 30px;
  }
  /* Block - page-footer */
  .page-footer__logo {
    max-width: 150px;
  }
  .page-footer__right-side {
    width: 100%;
    margin-top: 30px;
  }
  .page-footer__social {
    max-width: 300px;
  }
  /* Block - reviews */
  .reviews__logos .client-logo {
    width: 48%;
    margin-bottom: 20px;
  }
  .reviews__list {
    margin-left: 0;
  }
}
@media screen and (max-width: 950px) {
  /* Block - projects */
  .projects__headline {
    display: none;
  }
  .projects__list {
    border: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__list .client-logo:last-child {
    display: block;
  }
  .projects__list .client-logo {
    margin: 0;
  }
  /* Block - about */
  .about__photos {
    width: 40%;
  }
  /* Block - facts */
  .facts__desktop {
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  .facts__descr {
    max-width: 550px;
  }
  /* Block - steps */
  .steps__call-to-action {
    margin-left: 30px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .steps__items {
    margin-top: 30px;
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .steps__notification {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 50%;
  }
  /* Block - feedback */
  .feedback {
    background-position-x: -200px;
  }
}
@media screen and (max-width: 840px) {
  /* Block - projects */
  .projects__list .client-logo:last-child {
    display: none;
  }
  /* Block - about */
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__photos {
    width: 100%;
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .about__content {
    width: 100%;
  }
  .about__text:after {
    bottom: -10px;
  }
  .about__headline:after {
    display: none;
  }
  .about__text:hover:after {
    opacity: 1;
  }
  /* Block - feedback */
  .feedback {
    background: none;
  }
  .feedback__block {
    margin-left: 0;
  }
  /* Block - reviews */
  .reviews__list {
    width: 100%;
  }
  .reviews__logos {
    margin: 30px 0 0;
  }
  .reviews__logos .client-logo {
    height: 100px;
  }
  .reviews__logos .client-logo__img {
    width: 50%;
  }
  /* Block - response-page */
  .response-page {
    background-size: 90%;
    background-position-x: 200px;
  }
}
@media screen and (max-width: 650px) {
  /* Block - projects */
  .projects__inner {
    padding: 0;
  }
  .projects__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
  }
  .projects__list .client-logo {
    margin: 0 7px;
    height: 37px;
    width: 100px;
  }
  .projects__list .client-logo:nth-child(3) {
    margin-right: 0;
    border-color: #eaf3f8;
  }
  /* Block - logos-list */
  .logos-list {
    min-height: 0;
  }
  /* Block - client-logo */
  .client-logo {
    background: #eaf3f8;
  }
  .client-logo__img {
    width: 60%;
  }
  /* Block - steps */
  .steps__call-to-action {
    max-width: 150px;
  }
  .steps__headline {
    font-size: 20px;
  }
  .steps__items {
    margin-top: 10px;
  }
  .steps__btn {
    margin: 30px auto 0;
  }
  .steps__btn--desktop {
    display: none;
  }
  .steps__btn--phone {
    display: block;
  }
  .steps__notification {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 70%;
    margin: 30px auto 0;
  }
  /* Block - prices */
  .prices__list {
    text-align: center;
  }
  .prices__item {
    max-width: 260px;
    margin: 0 auto;
    background: #fff;
  }
  /* Block - feedback */
  .feedback__field {
    width: 100%;
  }
  /* Block - reviews */
  .reviews__inner {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }
  .reviews__list {
    width: 100%;
    margin: 0 0 30px;
  }
  .reviews__logos {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 80%;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    text-align: right;
    margin-right: -21px;
  }
  .reviews__logos .client-logo {
    display: inline-block;
    width: 100px;
    height: 37px;
    margin-bottom: 5px;
  }
  /* Block - modal */
  .modal__window {
    width: 80%;
    padding: 30px;
  }
  .modal__form-group div {
    width: 200%;
  }
  .modal__field,
  .modal__form-group {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .modal__submit-btn {
    display: block;
    right: 0;
    margin-left: auto;
    margin-top: 15px;
  }
}
@media screen and (max-width: 510px) {
  /* Block - headline */
  .headline {
    font-size: 20px;
  }
  /* Block - prices */
  .prices__present {
    font-size: 20px;
  }
  /* Block - page-header */
  .page-header {
    padding-bottom: 60px;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(30%, #000), color-stop(40%, transparent), to(transparent)), url(../img/header_bg.png);
    background: -webkit-linear-gradient(bottom, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png);
    background: -o-linear-gradient(bottom, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png);
    background: linear-gradient(to top, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png);
  }
  .page-header__main-block {
    text-align: center;
  }
  .page-header__headline {
    line-height: 1;
    font-size: 25px;
  }
  .page-header__descr {
    font-size: 15px;
  }
  .page-header__btn {
    margin: 0 auto 15px;
  }
  .page-header__logo img {
    width: 80%;
  }
  /* Block - phone */
  .phone--mobile {
    display: inline-block;
  }
  .phone--desktop {
    display: none;
  }
  /* Block - logo */
  .logo {
    font-size: 7.2px;
  }
  /* Block - facts */
  .facts {
    padding: 30px 0;
  }
  .facts__item {
    width: 100%;
    background-position: left bottom;
  }
  .facts__item-headline {
    font-weight: 700;
  }
  .facts__content-top {
    padding-left: 0;
  }
  .facts__desktop {
    right: -10%;
  }
  .facts__desktop img {
    width: 140%;
    max-width: 200%;
  }
  .facts__headline:after {
    display: none;
  }
  /* Block - steps */
  .steps {
    padding: 30px 0;
  }
  .steps__call-to-action {
    margin-left: 15px;
  }
  .steps__notification {
    width: 100%;
  }
  .steps__item {
    width: 100%;
    margin-left: 30px;
  }
  .steps__item-headline {
    font-weight: 400;
  }
  .steps__btn {
    width: 100%;
  }
  /* Block - examples */
  .examples {
    padding: 30px 0 80px;
  }
  .examples__arrow-prev {
    left: 42%;
  }
  .examples__arrow-next {
    right: 42%;
  }
  /* Block - project */
  .project__main-pict-arrow {
    background: transparent;
  }
  .project__main-pict-next {
    right: -38px;
  }
  .project__main-pict-prev {
    left: -38px;
  }
  .project__wrapper img {
    height: 104%;
  }
  /* Block - feedback */
  .feedback {
    padding: 30px 0;
  }
  .feedback__send-group {
    margin-top: 30px;
  }
  .feedback__politic-warning {
    margin-left: 0;
    margin-top: 20px;
    display: block;
  }
  /* Block - page-footer */
  .page-footer__left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-footer__email-link {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 15px 0;
  }
  .page-footer__right-side {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 0;
  }
  .page-footer__cookie-text {
    max-width: 260px;
    font-size: 10px;
  }
  .page-footer__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 280px;
  }
  /* Block - modal */
  .modal__window {
    width: 95%;
  }
  /* Block - projects */
  .projects__inner {
    padding: 0;
  }
  .projects__list .client-logo,
  .reviews__logos .client-logo {
    width: 90px;
  }
  /* Block - reviews */
  .reviews__inner {
    width: 100%;
    padding: 30px 15px;
    overflow: hidden;
  }
  .reviews__logos {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .reviews__text {
    max-height: 110px;
    overflow: hidden;
  }
  .reviews__text:after {
    display: block;
  }
  /*** Порядок блоков на сайте ***/
  .feedback {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .prices {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .reviews {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* Block - response-page */
  .response-page {
    background-size: 400px;
    background-position-x: 90px;
  }
  .response-page--opened {
    background-position-y: 50px;
  }
  .response-page__logo {
    margin-left: 0;
    padding-left: 30px;
    background-size: 20px;
  }
  .response-page__logo img {
    width: 100px;
  }
  .response-page__wrapper {
    padding-left: 30px;
  }
}
@media screen and (max-width: 450px) {
  /* Block - examples */
  .examples__arrow-prev {
    left: 40%;
  }
  .examples__arrow-next {
    right: 40%;
  }
}
@media screen and (max-width: 340px) {
  .modal__submit-btn {
    width: 100%;
  }
  /* Block - response-page */
  .response-page {
    background-position-x: 50px;
  }
  .response-page__wrapper {
    padding-left: 15px;
  }
}
/* Специфическая высота экрана */
@media screen and (min-height: 900px) {
  .response-page {
    background-size: 120%;
    background-position-x: -20%;
  }
}
