* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.popup-opened {
  overflow: hidden;
}
.page {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #323232;
  line-height: 1.5;
  word-wrap: break-word;
  background: #f5f6f8;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.btn {
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 39px;
  height: 42px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  outline: none;
}
.btn:hover {
  cursor: pointer;
}
.btn--size-lg {
  width: 250px;
}
.btn--size-md {
  width: 200px;
}
.btn--theme-action {
  position: relative;
  background: #0000ff;
  border: none;
  -webkit-box-shadow: 0px 0px 24.57px 2.43px rgba(40, 80, 229, 0.41);
          box-shadow: 0px 0px 24.57px 2.43px rgba(40, 80, 229, 0.41);
  z-index: 1;
}
.btn--theme-action:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#0000ff), to(#6f6cff));
  background: -webkit-linear-gradient(right, #0000ff, #6f6cff);
  background: -o-linear-gradient(right, #0000ff, #6f6cff);
  background: linear-gradient(to left, #0000ff, #6f6cff);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.btn--theme-action:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
.btn--theme-pseudo {
  position: relative;
  border: 2px solid #B8B8B8;
  -webkit-transition: background 5s cubic-bezier(0.19, 1, 0.22, 1), border 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 5s cubic-bezier(0.19, 1, 0.22, 1), border 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 5s cubic-bezier(0.19, 1, 0.22, 1), border 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn--theme-pseudo:before {
  left: 0;
  top: 0;
  content: "";
  display: block;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
          transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}
.btn--theme-pseudo:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
          box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
  -webkit-transition: background 0s;
  -o-transition: background 0s;
  transition: background 0s;
}
.btn--theme-pseudo:hover:before {
  background-color: #fff;
  -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
          transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}
.nowrap {
  white-space: nowrap;
}
/* Block - page-main */
.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Block - field */
.field {
  padding: 10px 1px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #9E9F9F;
  outline: none;
}
.field:focus {
  border-bottom-color: #323232;
}
.field--full-width {
  width: 100%;
}
.field--error,
.field--error:focus {
  border-bottom-color: #ff2400;
}
/* Block - headline */
.headline {
  color: #191919;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}
/* Block - link */
/* Block - page-header */
.page-header {
  padding-bottom: 130px;
  background: url(../img/header_bg.png);
  background-size: cover;
}
.page-header__top-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-header__main-block {
  max-width: 1000px;
  padding: 0 15px;
  margin: 110px auto 0;
  color: #fff;
}
.page-header__headline {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
}
.page-header__descr {
  max-width: 500px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 14px;
}
.page-header__phone {
  margin-bottom: 15px;
}
.page-header__btn {
  margin-right: 20px;
  vertical-align: top;
}
/* Block - logo */
.logo {
  font-size: 9px;
  color: #fff;
  text-decoration: none;
}
.logo__descr {
  display: block;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: .85em;
}
/* Block - phone */
.phone {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
}
.phone--mobile {
  display: none;
}
/* Block - projects */
.projects {
  background-color: #fff;
}
.projects__inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects__headline {
  margin: 0;
  padding-right: 45px;
  padding-left: 160px;
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.projects__number {
  color: #191919;
  font-size: 30px;
  display: block;
}
.projects__list {
  padding: 0 0 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  border-left: 2px solid #B8B8B8;
  overflow: hidden;
}
.projects__list .client-logo {
  width: 197px;
  height: 67px;
}
/* Block - client-logo */
.client-logo {
  border: 2px solid #E5E5E5;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.client-logo--active {
  border-color: #0000ff !important;
}
.client-logo div {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.client-logo__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
}
/* Block - about */
.about {
  overflow: hidden;
}
.about__inner {
  max-width: 1200px;
  padding: 80px 15px 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__photos {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about__photos img {
  max-width: 100%;
}
.about__photo {
  -webkit-transform: translate(-800px, -300px);
      -ms-transform: translate(-800px, -300px);
          transform: translate(-800px, -300px);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  -o-transition: transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}
.about__photo--visible {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.about__photo {
  position: relative;
}
.about__content {
  width: 42%;
}
.about__headline {
  position: relative;
  margin-bottom: 0;
}
.about__headline:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 330px;
  height: 2px;
  content: "";
  display: block;
  background: #B8B8B8;
}
.about__text {
  position: relative;
  max-height: 300px;
  -webkit-transition: max-height 400ms;
  -o-transition: max-height 400ms;
  transition: max-height 400ms;
  overflow: hidden;
}
.about__text:hover {
  cursor: pointer;
}
.about__text--opened {
  max-height: 2000px;
}
.about__text:hover:after {
  opacity: 0;
}
.about__text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  content: "";
  display: block;
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#f5f6f8), color-stop(50%, #f5f6f8), color-stop(60%, rgba(245, 246, 248, 0.9)), color-stop(70%, rgba(245, 246, 248, 0.8)), color-stop(80%, rgba(245, 246, 248, 0.7)), to(rgba(245, 246, 248, 0)));
  background: -webkit-linear-gradient(bottom, #f5f6f8 0%, #f5f6f8 50%, rgba(245, 246, 248, 0.9) 60%, rgba(245, 246, 248, 0.8) 70%, rgba(245, 246, 248, 0.7) 80%, rgba(245, 246, 248, 0) 100%);
  background: -o-linear-gradient(bottom, #f5f6f8 0%, #f5f6f8 50%, rgba(245, 246, 248, 0.9) 60%, rgba(245, 246, 248, 0.8) 70%, rgba(245, 246, 248, 0.7) 80%, rgba(245, 246, 248, 0) 100%);
  background: linear-gradient(to top, #f5f6f8 0%, #f5f6f8 50%, rgba(245, 246, 248, 0.9) 60%, rgba(245, 246, 248, 0.8) 70%, rgba(245, 246, 248, 0.7) 80%, rgba(245, 246, 248, 0) 100%);
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.about__text--opened:after {
  display: none;
}
/* Block - facts */
.facts {
  padding: 60px 0;
  background: #ffffff;
}
.facts__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}
.facts__desktop {
  position: relative;
  bottom: -20px;
  right: -30px;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.facts__desktop img {
  max-width: 100%;
}
.facts__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.facts__content-top {
  padding-left: 50px;
}
.facts__headline {
  position: relative;
}
.facts__headline:after {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  content: "";
  width: 330px;
  height: 2px;
  background: #B8B8B8;
}
.facts__items {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.facts__item {
  width: 50%;
  padding-top: 30px;
  padding-left: 50px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-image: url(../img/Pdf.png);
}
.facts__item-headline {
  margin-bottom: 5px;
  margin-top: 0;
  color: #191919;
  font-size: 18px;
  font-weight: 500;
}
.facts__item-descr {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #6f6f6f;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}
.facts__item-descr,
.facts__item-headline {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  -webkit-transition: opacity .8s ease,-webkit-transform .8s ease;
  transition: opacity .8s ease,-webkit-transform .8s ease;
  -o-transition: opacity .8s ease,transform .8s ease;
  transition: opacity .8s ease,transform .8s ease;
  transition: opacity .8s ease,transform .8s ease,-webkit-transform .8s ease;
}
.facts__item--visible:nth-child(2n - 1) .facts__item-descr,
.facts__item--visible:nth-child(2n - 1) .facts__item-headline,
.facts__item--visible:nth-child(2n) .facts__item-descr,
.facts__item--visible:nth-child(2n) .facts__item-headline {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
/* Block - steps */
.steps {
  padding: 60px 0;
  background: #283140;
}
.steps__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps__call-to-action {
  padding-left: 50px;
  max-width: 250px;
  margin-right: 30px;
}
.steps__headline {
  margin-bottom: 30px;
  margin-top: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.steps__btn {
  margin-top: 30px;
}
.steps__btn--phone {
  display: none;
}
.steps__line {
  height: 2px;
  width: 70px;
  background: #fff;
}
.steps__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.steps__item {
  width: 50%;
  padding-top: 10px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-image: url(../img/Связаться.png);
}
.steps__item:first-child,
.steps__item:nth-child(2) {
  margin-bottom: 15px;
}
.steps__item-headline {
  margin-bottom: 5px;
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.steps__item-descr {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #b8b8b8;
}
.steps__notification {
  position: relative;
  width: 285px;
  padding: 75px 25px 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  border-radius: 10px;
  background: #fff url(../img/информация.png) no-repeat 23px 30px;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
.steps__notification--visible {
  opacity: 1;
}
.steps__notification hr {
  width: 160px;
  height: 2px;
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #323232;
}
.steps__notification p {
  margin: 0;
}
/* Block - prices */
.prices {
  padding: 0 0 60px;
  background: url(../img/prices_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.prices__present {
  padding: 2px 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  background: #0000ff;
}
.prices__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.prices__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.prices__item {
  position: relative;
  width: 260px;
  padding: 40px 25px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 24.57px 2.43px rgba(40, 80, 229, 0.41);
          box-shadow: 0px 0px 24.57px 2.43px rgba(40, 80, 229, 0.41);
  border-radius: 5px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.prices__item:after {
  position: absolute;
  top: -7px;
  right: 15px;
  display: block;
  width: 44px;
  height: 30px;
  content: "";
  background: url(../img/Иконка1.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
.prices__item:hover {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.prices__item:hover:after {
  opacity: 1;
}
.prices__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  color: #191919;
  font-weight: 500;
}
.prices__services {
  padding: 0;
  margin: 0 0 35px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #5f5f5f;
  list-style: none;
}
.prices__price {
  margin-top: auto;
  margin-bottom: 35px;
  font-size: 25px;
  color: #191919;
  font-weight: 500;
}
.prices__price span {
  font-family: "Open Sans", Arial, sans-serif;
  color: #b9b9b9;
  font-size: 18px;
}
.prices__list .slick-dots {
  bottom: -55px;
}
.prices__list .slick-dots li {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.prices__list .slick-dots li button:before {
  content: "";
}
.prices__list .slick-dots .slick-active {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  background: #0000ff;
}
/* Block - feedback */
.feedback {
  padding: 100px 0;
  background: url(../img/Нига.png) no-repeat 6.2% bottom;
}
.feedback__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.feedback__block {
  margin-left: auto;
  max-width: 560px;
}
.feedback__headline {
  margin-bottom: 0;
}
.feedback__descr {
  margin-top: 0;
  margin-bottom: 40px;
}
.feedback__fields-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feedback__field {
  width: 270px;
  margin-bottom: 20px;
}
.feedback__send-group {
  margin-top: 50px;
}
.feedback__btn {
  vertical-align: top;
}
.feedback__politic-warning {
  display: inline-block;
  max-width: 220px;
  margin-left: 30px;
  line-height: 1;
  color: #323232;
  font-weight: 500;
  font-size: 14px;
}
.feedback__politic-warning,
.feedback__politic-warning a {
  color: #323232;
}
/* Block - page-footer */
.page-footer {
  padding: 40px 0;
  background: #283140;
}
.page-footer__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__left-side {
  max-width: 750px;
}
.page-footer__cookie-text,
.page-footer__cookie-text a {
  color: #d3d3d3;
}
.page-footer__cookie-text {
  margin-top: 0;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
}
.page-footer__email-link {
  margin-top: 30px;
}
.page-footer__email-link a {
  color: #fff;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}
.page-footer__right-side {
  width: 225px;
}
.page-footer__logo {
  display: block;
}
.page-footer__line {
  margin: 30px 0;
  width: 80px;
  height: 2px;
  background: #fff;
}
.page-footer__social {
  padding: 0;
  margin: 0 -15px;
}
/* Block - social-list */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.social-list__item {
  margin: 0 15px;
}
.social-list__link {
  position: relative;
  display: block;
}
.social-list__link:hover .social-list__img-hover {
  opacity: 1;
}
.social-list__img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* Block - examples */
.examples {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #ffffff;
  overflow: hidden;
}
.examples__inner {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
.examples__list {
  position: relative;
}
.examples__arrow {
  position: absolute;
  bottom: -30px;
  width: 28px;
  height: 16px;
  outline: none;
  border: none;
  opacity: .8;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 10;
}
.examples__arrow:hover {
  cursor: pointer;
}
.examples__arrow--active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}
.examples__arrow-prev {
  right: 300px;
  background-image: url(../img/project_arrow_prev.png);
}
.examples__arrow-next {
  right: 181px;
  background-image: url(../img/project_arrow_next.png);
}
.examples__counter {
  position: absolute;
  bottom: -33px;
  right: 205px;
  width: 100px;
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 500;
  text-align: center;
}
.examples__arrow + .slick-list {
  overflow: visible;
}
/* Block - project */
.project__headline {
  margin-top: 0;
}
.project__descr {
  max-width: 510px;
  margin-bottom: 35px;
}
.project__picts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10px;
}
.project__main-pict {
  width: 700px;
  border-radius: 5px;
  margin-right: 25px;
  -webkit-box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.31);
}
.project__picts-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 31%;
}
.project__wrapper {
  padding-bottom: 56.25%;
  position: relative;
}
.project__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  height: 101.5%;
}
.project__main-pict .slick-slide > div {
  border-radius: 5px;
  border: 1px solid #fff;
  overflow: hidden;
}
.project .project__picts-list .project__wrapper {
  overflow: hidden;
}
.project .project__picts-list .slick-track {
  margin: -9px 0;
}
.project .project__picts-list .slick-slide {
  margin: 8px 0;
}
.project__main-pict-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 38px;
  height: 38px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  z-index: 10;
  outline: none;
}
.project__main-pict-arrow:hover {
  cursor: pointer;
}
.project__main-pict-arrow:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  content: "";
  border: 13px solid transparent;
}
.project__main-pict-prev {
  left: -25px;
}
.project__main-pict-prev:after {
  left: 0;
  border-right: 13px solid #191919;
}
.project__main-pict-next {
  right: -25px;
}
.project__main-pict-next:after {
  right: 0;
  border-left: 13px solid #191919;
}
/* Block - reviews */
.reviews {
  background: #fff;
}
.reviews__inner {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__list {
  padding: 0;
  margin: 0 0 0 88px;
  width: 38%;
  list-style: none;
}
.reviews__item {
  display: none;
}
.reviews__item--active {
  display: block;
}
.reviews__avatar {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__avatar img {
  max-width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.reviews__social-list,
.reviews__avatar {
  display: inline-block;
}
.reviews__social-list {
  padding: 0;
}
.reviews__work-position {
  margin: 2px 0 5px;
  font-size: 18px;
  color: #191919;
  line-height: 1.2;
}
.reviews__text {
  position: relative;
  line-height: 1.375;
  -webkit-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
.reviews__text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  content: "";
  display: none;
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.reviews__text,
.reviews__headline {
  margin: 0;
}
.reviews__text--opened {
  max-height: 2000px!important;
}
.reviews__text--opened:after {
  display: none!important;
}
.reviews__logos {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__logos .client-logo {
  width: 32%;
  height: 67px;
  margin-bottom: 13px;
}
.reviews__logos .client-logo:hover {
  cursor: pointer;
}
/* Block - modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
}
.modal__window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  padding: 60px 60px 45px;
  background: #fff;
}
.modal__headline {
  line-height: 1.25;
}
.modal__form {
  margin-top: 40px;
}
.modal__field,
.modal__form-group {
  display: inline-block;
  width: 270px;
}
.modal__form-group {
  overflow: hidden;
}
.modal__form-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 540px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.modal__field {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}
.modal__submit-btn {
  position: relative;
  right: -20px;
  vertical-align: top;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 25px;
  height: 26px;
  border: 0;
  background: transparent url(../img/close_popup.png) no-repeat;
  background-size: cover;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.modal__close:hover {
  cursor: pointer;
  opacity: .7;
}
