@media screen and (max-width: 1280px){

}

@media screen and (max-width: 500px){
	/* Block - page-header */
	.page-header {
		padding-bottom: 60px;

		background: linear-gradient(to top, #000 0%, #000 30%, transparent 40%, transparent 100%), url(../img/header_bg.png), ;
	}

	.page-header__main-block {
		text-align: center;
	}

	.page-header__headline {
		line-height: 1;
		font-size: 25px;
	}

	.page-header__descr {
		font-size: 15px;
	}

	.page-header__btn {
		margin-bottom: 15px;
	}

	/* Block - phone */
	.phone--mobile {
		display: inline-block;
	}

	.phone--desktop {
		display: none;
	}

	/* Block - logo */
	.logo {
		font-size: 7.2px;
	}
	.logo img {
		width: 80%;
	}

}